<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to<%= title %></h1>
    <p>This is the index page where you can view a list of skills. <%= title %></p>
    <h2>List of Skills:</h2>
    <a href="/skills/new">Add Skill</a>
    <ul>
      <% skills.forEach(skill => { %>
        <li><%= skill.name %> - <%= skill.proficiency %></li>
      <% }) %>
    </ul>
  </body>
</html>
